<!DOCTYPE html>
<html>
{% set links = {
	'': 'Startseite', 
	'installation': 'Installieren',
	'anleitung': 'Anleitung',
	'mitmachen': 'Mitmachen'}
%}
  <head>
    <meta charset="utf-8">
    <base href="{{ base }}/">
    {% if active == '' %}
    <title>Unicycle Skilltester App</title>
    {% else %}
    <title>{{ links[active] }} · Unicycle Skilltester App</title>
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="assets/components/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="assets/css/skilltester.css" rel="stylesheet">
    <link href="assets/components/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="assets/components/font-awesome/build/assets/font-awesome/css/font-awesome.min.css" rel="stylesheet">

    <!-- Fav and touch icons -->
    <!-- <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/components/bootstrap/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/components/bootstrap/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/components/bootstrap/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="assets/components/bootstrap/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="assets/components/bootstrap/ico/favicon.png"> -->
  </head>

  <body>

    <div id="wrap">
	    <div class="navbar navbar-inverse navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="brand" href="">Unicycle Skilltester App</a>
					<div class="nav-collapse collapse">
						<ul class="nav">
			            	{% set links = {
			            		'': 'Startseite', 
			            		'installation': 'Installieren',
								'anleitung': 'Anleitung',
								'mitmachen': 'Mitmachen'}
			            	%}
			            	
			            	{% for url, label in links %}
			            	<li{% if active == url %} class="active"{% endif %}><a href="{{ url }}">{{ label }}</a></li>
			            	{% endfor %}
			            
							<!-- <li class="active"><a href="">Startseite</a></li>
							<li><a href="installation">Installieren</a></li>
							<li><a href="anleitung">Anleitung</a></li>
							<li><a href="mitmachen">Mitmachen</a></li> -->
						</ul>
					</div>
				</div>
			</div>
		</div>
    
		{{ content|raw }}
    	<div id="push"></div>
    </div>
    
    <footer>
    	<div class="container">
    		<p>Unicycle Skilltester App · Entwickelt von <a href="http://gos.si">Thomas Gossmann</a>
    		with <i class="icon-heart"></i></p>
    	</div>
    </footer>
    
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="assets/components/jquery/jquery.min.js"></script>
    <script src="assets/components/bootstrap/js/bootstrap.min.js"></script>

    <!-- Piwik -->
	<script type="text/javascript">
	  var _paq = _paq || [];
	  _paq.push(["trackPageView"]);
	  _paq.push(["enableLinkTracking"]);
	
	  (function() {
	    var u=(("https:" == document.location.protocol) ? "https" : "http") + "://analytics.creative2.net/";
	    _paq.push(["setTrackerUrl", u+"piwik.php"]);
	    _paq.push(["setSiteId", "6"]);
	    var d=document, g=d.createElement("script"), s=d.getElementsByTagName("script")[0]; g.type="text/javascript";
	    g.defer=true; g.async=true; g.src=u+"piwik.js"; s.parentNode.insertBefore(g,s);
	  })();
	</script>
	<!-- End Piwik Code -->
  </body>
</html>